@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 45px;
  height: 80px;
}
.logo img {
  height: 30px;
}
.right-menu a {
  margin: 0px 10px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}
.right-menu a:hover,
.search-cancel:hover {
  color: #0b9d8a;
  transition: all ease 0.3s;
}

.fa-shopping-cart {
  position: relative;
}
.num-cart-product {
  position: absolute;
  top: -17px;
  right: -17px;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: #eb3b5a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.search-bar {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.3s;
  /* search for keyframes */
}
.search-input {
  width: 90%;
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}
.search-bar input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}
.search-cancel {
  color: #272727;
  font-size: 2rem;
  padding-right: 40px;
}
.search-bar {
  display: none;
}
.search-bar-active {
  display: flex;
}
@keyframes search {
  0% {
    bottom: -300px;
  }
  100% {
    bottom: 0px;
  }
}

/*------------------ full-slider  -------------------------*/
.full-slider-box {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/full_skate.jpeg);
}
.f-slider-text {
  display: flex;
}
.gradiant-bg {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #eccf8b,
    #fbd558,
    #fecd1c,
    #ad9d4a,
    #5f571a
  );
  background-size: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/*------------------ show-product -------------------------*/
.product-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product-box {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f7f7ff;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}
.product-img {
  width: 200px;
  height: 210px;
  margin: 20px;
  cursor: pointer;
  position: relative;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}
.btn {
  border: none;
  padding: 15px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px 5px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-cart {
  background-color: #000000;
  color: white;
}
.btn-cart:hover {
  background-color: #f76b6a;
  transition: all ease 0.2s;
}
.btn-love {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #555555;
}
.btn-love:hover {
  background-color: black;
  transition: all ease 0.2s;
  color: #f76b6a;
}
.btn-more {
  background-color: #000000;
  color: white;
  padding-right: 70px;
  padding-left: 70px;
  margin-top: 0;
  margin-bottom: 40px;
}
.btn-more:hover {
  background-color: #3498db;
  transition: all ease 0.2s;
}
.product-box:hover,
.sale-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.product-box:hover .add-cart,
.sale-box:hover {
  display: flex;
}
.new-arrival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

/*------------------ blog sale Boxes -----------------------*/
.sale {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
}
.sale-box {
  width: 280px;
  height: 270px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  /* flex-grow: 0.5; */
}
.sale-box span {
  color: #5f5e5e;
  font-size: 0.75rem;
  margin-top: 15px;
}
.sale-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}
.sale-text {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-20%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
}
.sale-text-img {
  display: flex;
  flex-direction: column;
  position: absolute; /* ตำแหน่งเทียบกับ container */
  bottom: 0;
  color: white;
  margin-bottom: 10%;
  text-align: center; /* 2 บรรทัดนี้ถ้าต้องการให้ข้อความอยู่กลาง */
  width: 100%;
  text-transform: uppercase;
}
.sale-text-img strong {
  font-size: 1.2rem;
  font-weight: 500;
}
.sale-text-img span {
  color: whitesmoke;
  margin: 5px 15px;
}
.sale-box a {
  color: #1b1919;
}
.sale-text strong {
  font-size: 1.2rem;
  font-weight: 500;
  /* width: 80%; */
  line-height: 23px;
  text-align: center;
}

/* ------------ banner ---------------------- */
.banner-box {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(../images/banner_skate.jpg); */
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-box-2 {
  width: 100%;
  height: 50vh;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  background-image: url(../images/banner_skate_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner-text-container {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}
.block-text {
  display: flex;
  flex-direction: column;
  /* margin-right: auto; */
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 20em;
  word-wrap: break-word;
}
.block-text strong {
  color: white;
  font-size: 1.2rem;
}
.block-text span {
  color: #bdc3c7;
  font-size: 0.75rem;
}
.block-text-2 {
  text-align: center;
  padding-top: 70px;
}
.block-text-2 strong {
  color: #000000;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
}
.block-btn {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 14px;
}
.block-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}
.banner-text strong font {
  color: #0b9d8a;
}

/* ------------ credit ---------------------- */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  background-color: #000000;
}
.copyright {
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 1px;
}
.social-call {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0px 5px;
  color: white;
  font-size: 0.9rem;
}
.social a:hover {
  color: #3498db;
  transition: all ease 0.3s;
  /* ease: เริ่มช้า กลางเร็วปกติ จบช้า */
}

/* ------------ Navigation Fix When Scroll ---------------------- */
.fix-nav {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 102;
}

/* ------------ Responsive ---------------------- */
@media (max-width: 1010px) {
  nav {
    position: relative;
  }
  .navigation {
    height: 80px;
  }
  .fix-nav {
    height: 80px;
  }
  .navigation.active {
    display: block;
  }
  .full-slider-box,
  .banner-box {
    height: 45vh;
  }
  .f-slider-text span {
    font-size: 0.9rem;
  }
  .f-slider-text strong,
  .gradiant-bg i {
    font-size: 2rem;
    line-height: 40px;
  }
  .search-input {
    height: 60px;
  }
  .search-input input,
  .search-cancel {
    font-size: 1.4rem;
  }
  .sale-box {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .navigation {
    padding: 10px;
  }
  .gradiant-bg i {
    font-size: 1.5rem;
    line-height: 25px;
  }
  .f-slider-text strong,
  .block-text-2 strong {
    font-size: 1.3rem;
    line-height: 25px;
  }
  .full-slider-box,
  .banner-box,
  .banner-box-2 {
    height: 30vh;
  }
  .f-slider-text span {
    font-size: 0.8rem;
  }
  .block-text strong {
    font-size: 1rem;
  }
  .block-text span {
    font-size: 0.7rem;
  }
  .new-arrival strong {
    font-size: 1.2rem;
  }
  .new-arrival p {
    font-size: 0.8rem;
    text-align: center;
  }
  .sale-box {
    width: 100%;
    height: 180px;
  }
  .sale {
    width: 100%;
  }
  .copyright {
    margin: 20px 0px;
    text-align: center;
  }
}

/* footer --------------------------------*/

@media (max-height: 600px) {
  footer {
    position: static;
  }
  .footer-distributed .footer-left {
    display: block;
    width: 100%;
    margin: 20px 40px;
    text-align: center;
  }
}

.footer-distributed {
  background-color: #121213;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 40px 150px;
  line-height: 30pt;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 20%;
}
.footer-distributed h3,
.footer-distributed a {
  color: #ffffff;
  text-transform: uppercase;
}
.footer-distributed a {
  font-size: 0.75rem;
  font-weight: 500;
}

@media (max-width: 1010px) {
  .footer-distributed {
    padding: 0;
  }
  .footer-distributed .footer-left {
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
